<% include partial/header.ejs %>
<h1>Delete the Post</h1>
<form method="POST">
<label>Title</label>
<textarea class="form-control " name="delpost" style="width: min-content;"  rows="1"  type="text" name="title"></textarea>
<button class="btn" name="sub" type="submit"></button>
</form>
<% include partial/footer.ejs %>